# CC = gcc
# CXX = g++
CXX := ${HOME}/djgpp/bin/i586-pc-msdosdjgpp-g++
CC  := ${HOME}/djgpp/bin/i586-pc-msdosdjgpp-gcc
DJGPP_IDIR = ${HOME}/djgpp/i586-pc-msdosdjgpp/sys-include
DJGPP_LDIR = ${HOME}/djgpp/i586-pc-msdosdjgpp/lib
IDIR = ../build
LDIR = ../build
CFLAGS = -I$(IDIR) -I$(DJGPP_IDIR) -L$(LDIR) -L$(DJGPP_LDIR) -O3

DEPS = cblas.h
LIBS = -lcblas -lm
OBJS = test_sgemm.o

%.o: %.c $(DEPS)
	$(CC) -c -o $@ $< $(CFLAGS)

tsgemm.exe: $(OBJS)
	$(CXX) -o $@ $^ $(CFLAGS) $(LIBS)
